/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap");
$prompt: "Prompt", sans-serif;
$darkBackground: #1E1E1E;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $prompt;
  background-color: $darkBackground;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
